/* CSS FILE */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    min-height: auto;
    color: #212121;
}

.header {
	background-color: #616161;
    color: #f5f5f5;
    min-height: 200px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 100ms linear 0s;
}

.header h1 {
    position: relative;
    text-align: justify;
    font-size: 24px;
    margin: 0 60px;
    min-height: 65px;
    top: 72px;
}

.menu-header {
    left: 20px;
    position: relative;
    top: 105px;
}

.remaining {
	font-size: 22px;
    padding-left: 20px;
}

.mainDiv {
	margin: 50px auto;
    max-width: 600px;
    min-width: 390px;
    width: 80%;
}

.unstlyled {
	list-style: none;
     margin: 0 20px;
}

.unstlyled li {
    margin: 10px 0;
    min-width: 370px;
    padding: 10px 0;
}

ul li label .taskname {
	font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 5px;
}

ul li .item-label {
	 width: 80%;   
}

.debug-div {
	float: left;
}

.debug-div h3 {
	font-size: 24px;
}

.debug {
	background-color: #000;
	color: #FFF;
	border: 3px double #CCCCCC;
	padding: 10px;
	
}

label {
    font-weight: 500;
    margin-bottom: 0;
}

.modal-dialog {
    max-width: 390px;
    min-height: 25px;
    padding: 16px 16px 0;
    position: relative;
    width: 90%;
    z-index: 99999;
    color: #212121;
}

.footer {
    bottom: 0;
    height: 50px;
    margin: 5px auto;
    position: relative;
    width: 60%;
}

.footer p { 
    text-align: center;
    font-size: 12px;
}

.add-frame-btn {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 999;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}


@media all and (max-width: 600px) {
    .add-frame-btn {
        bottom: 15px;
        right: 15px;
        transition:All 0.3s ease-in-out;
        -webkit-transition:All 0.3s ease-in-out;
        -moz-transition:All 0.3s ease-in-out;
        -o-transition:All 0.3s ease-in-out;
    }
}
